block sections
	#launch_body
		table.table.table-bordered.table-sm
			thead
				tr.d-flex
					th.col-5.text-center='Модель'
					th.col-5.text-center='Шаблон отчёта'
					th.col.text-center='Активно'
			tbody
				each model,i in models
					tr.d-flex
						td.col-5.px-1.text-center(id='model_path_' + i)=model
						td.col-5.p-0.text-center
							.input-group
								input.form-control.rounded-0(type='text' id='rep_folder_' + i value=reports[model] readonly)
								div.input-group-append
									button.btn.btn-outline-secondary.rounded-0(id='browse_temp_' + i)
										img(src='/open-iconic/svg/magnifying-glass.svg').icon
						td.col.p-0
							div.input-group.d-block
								div.input-group-text.d-block.rounded-0(id='state_outline_' + i)
									input(type='checkbox' id='selected_state_' + i checked)
	#footer.fixed-bottom.d-flex.justify-content-end.m-4
		button.btn.btn-secondary.rounded-0#run_btn='Запустить'
	script.
		$.getScript('/javascripts/launch.js')