block sections
	div
		table.table.table-bordered.table-sm
			thead
				tr.d-flex
					th.col-4.text-center.px-0='Шаблон'
					th.col-4.text-center.px-0='Данные'
					th.col.text-center.px-0='Разд-тель'
					th.col.text-center.p-0='Новая строка'
					th.col.text-center.px-0='Активно'
					td.col.p-0.d-flex.justify-content-center
						button.btn.btn-sm.p-0.border-0(onclick=`delete_ltr(-1)`)
							img(src='/open-iconic/svg/trash.svg').icon
				tbody#li_tbody
		div
			button.btn.btn-secondary.mx-auto.d-block.rounded-0(style='width:150px')#add_dtr='+'
		div.input-group.p-3.fixed-bottom#footer
			div
				div.input-group(style='width:140%')
					div.input-group-prepend
						label.input-group-text.rounded-0='Целевой путь:'
					input.form-control.rounded-0(type='text')#selected_path
			div.d-block
				button.btn.btn-secondary.m-auto.position-absolute.rounded-0(type='button' style='right:30px')#btn_start='Начать'
	script.
		$.getScript('/javascripts/linking.js')
		$.getScript('/jsviews/file_list_modal.js')