block sections
	div
		table.table.table-bordered.table-sm
			thead
				tr.d-flex
					th.col-4='Шаблон'
					th.col-4='Данные'
					th.col='Разделитель'
					th.col='Новая строка'
					th.col='Активно'
				tbody#tbody
		div
			button.btn.btn-secondary.mx-auto.d-block(style='width:150px')#add_dtr='+'
		div.input-group.p-3.fixed-bottom#footer
			div
				div.input-group(style='width:140%')
					div.input-group-prepend
						label.input-group-text='Целевой путь:'
					input.form-control.rounded-0(type='text')#selected_path
			div.d-block
				button.btn.btn-secondary.m-auto.position-absolute(type='button' style='right:30px')#btn_start='Начать'
	script.
		$.getScript('/javascripts/linking.js')
		$.getScript('/javascripts/ltr.js')
		$.getScript('/jsviews/file_list_modal.js')
		$.getScript('/jsviews/ltr_ui.js')