block sections
	div
	table.table.table-bordered
		thead
			tr
				th='Шаблон'
				th='Данные'
				th='Номер запуска'
				th='Статус'
				th='Выходной файл'
				th='ID процесса'
		tbody
			each model in logged_models
				tr(id=`status_${model.id}`)
					td=model.template_file
					td=model.data_file
					td=model.launch_id
					td=model.status
					td=model.out_file
					td=model.id
					td
						button.btn.btn-sm.p-0.border-0(onclick=`deleteStatus("${model.id}")`).align-self-center
							img(src='/open-iconic/svg/trash.svg').icon
	script.
		$.getScript('/javascripts/status.js');