block uv_content
	#view_ui.px-5.pt-5
		.d-block
			.media
				img.align-self-center(src= '/open-iconic/svg/folder.svg').icon
				.media-body
					label.px-2.m-auto='App'
			.mx-4.d-block
				each folder, i in content
					.media
						img.align-self-center(src='/open-iconic/svg/folder.svg').icon
						.media-body
							label.px-2.m-auto=folder.name
					.mx-4
						each file, j in folder.files
							table.table.table-hover.table-borderless.table-sm.m-0(id='row_' + i + j)
								tbody
									tr.d-flex.align-content-center
										th.d-inline-block
											img(src='/open-iconic/svg/file.svg').icon
										th.d-inline-block
											label.m-auto=file.name
										th.d-none(id='controls_for_row_' + i + j)
											.d-flex.text-center
												button.btn.btn-sm.p-0.border-0(onclick=`viewFile("${file.name}","${file.full_path}", "${folder.name}")`)
													img(src= '/open-iconic/svg/eye.svg').icon
												button.btn.btn-sm.p-0.border-0.mx-1(onclick=`downloadFile("${file.name}", "${file.root}")`)
													img(src= '/open-iconic/svg/data-transfer-download.svg').icon
												button.btn.btn-sm.p-0.border-0(onclick=`deleteFile("${file.full_path}", "${folder.name}", "row_${i}${j}")`)
													img(src= '/open-iconic/svg/trash.svg').icon
		script.
			$.getScript('/javascripts/viewpage.js')